{% extends 'base.html' %}

{% block content %}

    <a class="nav-link" href="{% url 'logout' %}">Logout</a>

    <h1>Avybe Challenge</h1>

    <p>Username: {{ user.username }}</p>

    {% if user.profile.nickname %}
        <p>Nickname: {{ user.profile.nickname }}</p>
        <a class="nav-link" href="{% url 'edit_nickname' user.profile.id %}">Edit Nickname</a>
    {% else %}
        <a class="nav-link" href="{% url 'add_nickname' %}">Add Nickname</a>
    {% endif %}

    {% if user.picture %}
        <img class="responsive-img card-panel" src="{{user.picture.url}}">
        <form action="{% url 'change_picture' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Change Photo">
        </form>
    {% else %}
        <p>No photo uploaded</p>
        <form action="{% url 'add_picture' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    {% endif %}





{% endblock %}